<div>
    <label for="ticker-input">$t: </label>
    <input id="ticker-input" type="text" [(ngModel)]="ticker">
    <button id="search-ticker" (click)="search()">Search</button>
    <br>
    <span>Searching: </span>
    <div *ngFor="let url of urls" style="border-top: 1px solid black;">
        <input type="checkbox" name="{{url.PrettyName}}" id="{{url.PrettyName}}" [(ngModel)]="url.isSearchable">
        <label for="{{url.prettyName}}">{{url.prettyName}}</label>
        <a href="{{url.url + ticker}}" style="padding: 30px;">link</a>
    </div>
</div>
